[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"

[dev-packages]

[scripts]
mip = "python -m src.mip"
sotui_mip = "python -m src.sotui_mip"
steppest_edge = "python -m src.steppest_edge.main"
maximum_coefficient_method_simplex = "python -m src.maximum_coefficient_method_simplex"


[requires]
python_version = "3.11"
